DEVICE={{ neutron_bridge_name }}
DEVICETYPE="ovs"
NM_CONTROLLED="no"
TYPE=OVSBridge
{% if neutron_bridge_static_ip is defined %}
BOOTPROTO=static
IPADDR={{ neutron_bridge_static_ip }}
GATEWAY={{ neutron_bridge_static_gw }}
DNS1={{ neutron_bridge_static_dns1 }}
{% if neutron_bridge_static_dns2 is defined %}
DNS2={{ neutron_bridge_static_dns2 }}
{% endif %}
MTU="1500"
NETMASK={{ neutron_bridge_static_netmask }}
{% else %}
BOOTPROTO=dhcp
OVSBOOTPROTO="dhcp"
OVSDHCPINTERFACES="{{ neutron_nic_name }}"
{% endif %}
ONBOOT=yes
