DEVICE="{{ neutron_nic_name }}"
DEVICETYPE="ovs"
TYPE="OVSPort"
BOOTPROTO="none"
NM_CONTROLLED="no"
ONBOOT="yes"
HWADDR="{{ hostvars[inventory_hostname]['ansible_'+neutron_nic_name]['macaddress'] }}"
# TYPE="Ethernet"
ETHTOOL_OPTS="-K {{ neutron_nic_name }}  gro off "
# ETHTOOL_OPTS="-K eth0  tso off lro off gro off gso off"
OVS_BRIDGE="{{ neutron_bridge_name }}"
