<setup>
<env>
  <mysql host="127.0.0.1" user="{{ mysql_login_user }}" password="{{ mysql_login_password }}"/>
  <auth user="{{ keystone_admin_username }}" password="{{ keystone_admin_password }}" tenant="{{ keystone_admin_tenant }}" uri="http://{{ keystone_service_admin_ip }}:5000/v2.0/"/>
  <endpoint uri="http://{{ keystone_service_admin_ip }}:35357/v2.0" token="{{ admin_token }}"/>
  <config path="/etc/keystone/keystone.conf"/>
</env>

<openstack>
  <tenants>
      <tenant name="{{ keystone_admin_tenant }}"/>
      <tenant name="{{ service_tenant }}"/>
      <tenant name="MyProject"/>
  </tenants>
  <users>
      <user name="{{ keystone_admin_username }}" password="{{ keystone_admin_password }}" email="{{ keystone_admin_email }}" tenant="MyProject"/>
      <user name="myuser" password="mypassword" email="my@example.com" tenant="MyProject"/>
  </users>
  <roles>
    <role name="{{ keystone_admin_role }}"/>
  </roles>
  <rolemaps>
      <rolemap user="{{ keystone_admin_username }}" role="{{ keystone_admin_role }}" tenant="MyProject"/>
  </rolemaps>

  <services tenant="{{ service_tenant }}">
     {% for host in groups['nova'] %}
      {% set myvars=hostvars[host] %}
      <service name="nova" type="compute" disabled="False" description="" order="5">
          <user name="{{ myvars.nova_service_user }}" password="{{ myvars.nova_service_user_password }}" email="{{ myvars.nova_service_user_email }}" role="{{ keystone_admin_role }}"/>
          <mysql user="{{ myvars.nova_service_mysql_user }}" password="{{ myvars.nova_service_mysql_user_password }}"/>
	  <endpoint>
            <address type="admin" host="{{ myvars.nova_service_admin_ip }}" uri_suff=":8774/v2/$(tenant_id)s" />
            <address type="public" host="{{ myvars.nova_service_public_ip }}" uri_suff=":8774/v2/$(tenant_id)s"/>
            <address type="internal" host="{{ myvars.nova_service_internal_ip }}" uri_suff=":8774/v2/$(tenant_id)s"/>
	  </endpoint>
          <region name="{{ myvars.nova_service_region }}"/>
      </service>
     {% endfor %}

     {% for host in groups['glance'] %}
      {% set myvars=hostvars[host] %}
      <service name="glance" type="image" disabled="False" description=""  order="2">
          <user name="{{ myvars.glance_service_user }}" password="{{ myvars.glance_service_user_password }}" email="{{ myvars.glance_service_user_email }}" role="{{keystone_admin_role }}"/>
        <mysql user="{{ myvars.glance_service_mysql_user }}" password="{{ myvars.glance_service_mysql_user_password }}"/>
	<endpoint>
            <address type="admin" host="{{ myvars.glance_service_admin_ip }}" uri_suff=":9292/v1" />
            <address type="public" host="{{ myvars.glance_service_public_ip }}" uri_suff=":9292/v1"/>
            <address type="internal" host="{{ myvars.glance_service_internal_ip }}" uri_suff=":9292/v1"/>
	</endpoint>
        <region name="{{ myvars.glance_service_region }}"/>
      </service>
     {% endfor %}

     {% for host in groups['keystone'] %}
      {% set myvars=hostvars[host] %}
      <service name="keystone" type="identity" disabled="False" description="" order="1">
	<endpoint>
            <address type="admin" host="{{ myvars.keystone_service_admin_ip }}" uri_suff=":35357/v2.0"/>
            <address type="public" host="{{ myvars.keystone_service_public_ip }}" uri_suff=":5000/v2.0"/>
            <address type="internal" host="{{ myvars.keystone_service_internal_ip }}" uri_suff=":5000/v2.0"/>
	</endpoint>
        <region name="{{ myvars.keystone_service_region }}"/>
      </service>
     {% endfor %}

      
     {% for host in groups['cinder'] %}
      {% set myvars=hostvars[host] %}
      <service name="nova-volume" type="volume" disabled="False" description="" order="6">
          <user name="{{ myvars.cinder_service_user }}" password="{{ myvars.cinder_service_user_password }}" email="{{ myvars.cinder_service_user_email }}" role="{{keystone_admin_role }}"/>
        <mysql user="{{ myvars.cinder_service_mysql_user }}" password="{{ myvars.cinder_service_mysql_user_password }}"/>
	<endpoint>
            <address type="admin" host="{{ myvars.cinder_service_admin_ip }}" uri_suff=":8776/v1/$(tenant_id)s" />
            <address type="public" host="{{ myvars.cinder_service_public_ip }}" uri_suff=":8776/v1/$(tenant_id)s"/>
            <address type="internal" host="{{ myvars.cinder_service_internal_ip }}" uri_suff=":8776/v1/$(tenant_id)s"/>
	</endpoint>
        <region name="{{ myvars.cinder_service_region }}"/>
      </service>
     {% endfor %}
      
     {% for host in groups['neutron'] %}
      {% set myvars=hostvars[host] %}
      <service name="quantum" type="network" disabled="False" description=""  order="4">
          <user name="{{ myvars.neutron_service_user }}" password="{{ myvars.neutron_service_user_password }}" email="{{ myvars.neutron_service_user_email }}" role="{{keystone_admin_role }}"/>
        <mysql user="{{ myvars.neutron_service_mysql_user }}" password="{{ myvars.neutron_service_mysql_user_password }}"/>
	<endpoint>
            <address type="admin" host="{{ myvars.neutron_service_admin_ip }}" uri_suff=":9696"/>
            <address type="public" host="{{ myvars.neutron_service_public_ip }}" uri_suff=":9696"/>
            <address type="internal" host="{{ myvars.neutron_service_internal_ip }}" uri_suff=":9696"/>
	</endpoint>
        <region name="{{ myvars.neutron_service_region }}"/>
      </service>
     {% endfor %}
      
  </services>
  
    
</openstack>
</setup>
